- name: Get k3s installed version
  ansible.builtin.command: k3s --version
  register: k3s_version_output
  changed_when: false
  ignore_errors: true

- name: Set k3s installed version
  when: k3s_version_output.rc == 0
  ansible.builtin.set_fact:
    installed_k3s_version: "{{ k3s_version_output.stdout_lines[0].split(' ')[2] }}"

- name: Download artifact only if needed
  when: k3s_version_output.rc != 0 or installed_k3s_version is version(k3s_version, '<') and airgap_dir is undefined
  block:
  - name: Download K3s install script
    ansible.builtin.get_url:
      url: https://get.k3s.io/
      timeout: 120
      dest: /usr/local/bin/k3s-install.sh
      owner: root
      group: root
      mode: "0755"

  - name: Download K3s binary
    ansible.builtin.command:
      cmd: /usr/local/bin/k3s-install.sh
    environment:
      INSTALL_K3S_SKIP_START: "true"
      INSTALL_K3S_VERSION: "{{ k3s_version }}"
      INSTALL_K3S_EXEC: "agent"
    changed_when: true

  - name: Add the token for joining the cluster to the environment
    no_log: true # avoid logging the server token
    ansible.builtin.lineinfile:
      path: "{{ systemd_dir }}/k3s-agent.service.env"
      line: "K3S_TOKEN={{ token }}"

- name: Copy K3s service file
  ansible.builtin.template:
    src: k3s-agent.service.j2
    dest: "{{ systemd_dir }}/k3s-agent.service"
    owner: root
    group: root
    mode: "0755"

- name: Ensure k3s-agent service is not enabled or started
  ansible.builtin.systemd:
    name: k3s-agent
    daemon_reload: true
    state: stopped # Prevents the service from running
    enabled: false # Prevents the service from starting at boot
